<!DOCTYPE html>
<html>
<body>
    <h1>Compra Procesada</h1>
    <p>{{ message }}</p>
    {% if compra %}
    <p>Compra ID: {{ compra.idCompra}}</p>
    <p>Total: ${{ compra.total }}</p>
    <p>ID de Mercado Pago: {{ mp_id }}</p>
    {% endif %}
    <p>en caso de algun inconveniente comunicate con nosotros a nuestro email, 
    proporcionarnos tanto la ID de mercadopago como la ID de la compra, para poder rastrearlas</p>
<script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'965e93eab843c191',t:'MTc1MzY0NDkwNC4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script></body>
</html>